<div class="jumbotron">
  <center>
    <h1>Welcome to Geist Brewery</h1>
    <img src="https://static.vinepair.com/wp-content/uploads/2015/08/craft-beer-definition-inside-header.jpg" alt="Geist's Beer">
    <br>
    <%= link_to "Check out our Beer", beers_path, class: "btn btn-default" %>
  </center>  
</div>